read_edif {{ edif_file }}

{% if xdc_file -%}
read_xdc {{ xdc_file }}
{%- endif %}

link_design -top {{ name }} -part {{ tool_options.part }}

{% if pre_imp -%}
source {{ pre_imp }}
{%- endif %} 

opt_design
place_design
report_utilization -file top_utilization_placed.rpt
route_design
phys_opt_design
report_timing_summary -file top_timing_summary_routed.rpt

{% if post_imp -%}
source {{ post_imp }}
{%- endif %} 

write_bitstream -force {{ name }}.bit
