SHELL=/bin/bash
NAME := {{ name }}
{% if report_dir -%}
REPORT_DIR := {{ report_dir }}
{% else %}
REPORT_DIR := "./"
{%- endif %}


all:
			mkdir -p ${REPORT_DIR}
			dc_shell-t -f ${NAME}.tcl |& tee ${REPORT_DIR}/synth.log