yosys -import

{% if verilog_defines -%}
set defines {{ verilog_defines }}

foreach d ${defines} {
  set key [lindex $d 0]
  set val [lindex $d 1]
  verilog_defines "-D$key=$val"
}
{%- endif %}

verilog_defaults -push
verilog_defaults -add -defer

{% if incdirs -%}
verilog_defaults -add {{ incdirs }}
{%- endif %}

{{ file_table }}

{% if verilog_params -%}
{{ verilog_params }}
{%- endif %}

verilog_defaults -pop

{{ synth_command }} {{ synth_options }} -top {{ top }}
write_blif {{ name }}.blif
write_json {{ name }}.json
write_edif {{ edif_opts }} {{ name }}.edif
